.container {
  width: 100%;
  height: 250px;
  padding-top: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 6em;
}

.centerLogoText {
  color: rgba(var(--dark-color), 0.8);
  font-size: 6.5em;
  font-weight: 500;
}

.rightLogoText {
  position: absolute;
  top: 40px;
  left: 30px;
  bottom: 34px;
  color: rgba(var(--dark-color), 0.8);
  font-size: 1.2em;
  line-height: 0.95em;
  background: white;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.icon {
  display: flex;
  align-items: center;
  border: 0.4px solid rgba(var(--primary-color), 0.8);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: var(--primary-color);
  padding: 6px;
  cursor: pointer;
}

.icon:hover {
  background-color: rgb(var(--dark-color));
  color: white;
}

.bottomNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  margin: 38px 0px;
}

@media screen and (max-width: 560px) {
  .container {
    height: 300px;
  }
  .bottomNavbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 35px 0px;
  }
}
