.search {
  display: flex;
  align-items: center;
  border: 0.3px solid rgba(var(--dark-color), 0.3);
  border-radius: 10px;
}

.input {
  max-width: 160px;
  border: none;
  color: rgba(var(--dark-color), 0.6);
}

.input::placeholder {
  color: rgba(var(--dark-color), 0.4);
}

.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 40px;
  padding: 2px;
  color: rgba(var(--dark-color), 0.8);
}

.input:hover::placeholder {
  color: rgba(var(--dark-color), 0.5);
}
